name: Test

on: [push]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Set up Python 3.11
          uses: actions/setup-python@v5
          with:
              python-version: 3.11

        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt -r app/tests/requirements.txt

        - name: Run tests
          run: |
              pytest app/tests/unit_test.py
